@import "tailwindcss";

@theme {
  --font-cardo: Cardo, "sans-serif";
  --color-primary: #92400e;
  --color-secondary: #d97706;
}

body {
  @apply selection:bg-secondary bg-[#FFFBEB];
}

footer {
  @apply bg-[#FFFBEB] select-none;
}

nav {
  @apply select-none;
}
